__pycache__/
*.py[cod]
*.pyo
*.env
.env
venv/
env/
/.venv
/.env
app.db
*.sqlite3
keys/
uploads/
logs/
backups/
node_modules/
dist/
.pytest_cache/
.vscode/
.idea/
/.mypy_cache
*.log
*.sqlite
/.DS_Store